.history-page{
max-width:1000px;
margin:auto;
padding:30px;
}

.order-list{
display:flex;
flex-direction:column;
gap:20px;
}

.order-card{
padding:20px;
border-radius:15px;
background:white;

box-shadow:
10px 10px 30px rgba(0,0,0,0.1),
-10px -10px 30px white;

transition:0.3s;
}

.order-card:hover{
transform:translateY(-5px);
}

.order-top{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:10px;
}

.status{
background:#e6ffed;
color:#28a745;
padding:5px 10px;
border-radius:8px;
font-size:12px;
}

.order-body p{
margin:4px 0;
color:#555;
}

.order-footer{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:10px;
}

.amount{
font-weight:bold;
font-size:16px;
}

.order-footer button{
padding:8px 14px;
border:none;
border-radius:8px;
background:linear-gradient(135deg,#ff4d4d,#ff6b6b);
color:white;
cursor:pointer;
}

/* MOBILE */
@media(max-width:600px){
.order-card{
padding:15px;
}
}

.order-details-page{
padding:20px;
}

.order-info{
background:#fff;
padding:15px;
border-radius:10px;
margin-bottom:20px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.order-items{
display:flex;
flex-direction:column;
gap:20px;
}

.order-product{
display:flex;
gap:20px;
background:#fff;
padding:15px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
position:relative;
}

.order-product img{
width:120px;
height:120px;
object-fit:cover;
border-radius:10px;
}

.product-info{
flex:1;
}

.area{
margin-top:5px;
font-size:14px;
color:#555;
}

.view-btn{
margin-top:10px;
padding:8px 12px;
border:none;
background:#ff4d4d;
color:white;
border-radius:6px;
cursor:pointer;
}

.history-box{
margin-top:15px;
padding:10px;
background:#f9f9f9;
border-radius:8px;
width:100%;
}

.history-row{
display:flex;
justify-content:space-between;
padding:5px 0;
border-bottom:1px solid #ddd;
}